*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-color: #f6f6f6;
}

#header{
    background-color: #376092;
    color: #ffffff;
    padding-top: 20px;
    padding-bottom: 20px; 
}

.container{
    width: 1000px;
    margin: 0 auto;
}

.site-name{
    font-size: 22px;
}

/*Site navigation starts here*/
.site-nav{
    list-style: none;
    float: right;
}

.site-nav li{
    display: inline-block;
}

.site-nav li a{
    color:#ffffff;
    text-decoration: none;
    display: block;
    padding:5px 10px;
}

.site-nav li a:hover{
    background-color: #254061;
    border-radius: 8px;
}
/*Site navigation ends here*/

/*Banner starts here*/
#banner{
    background-color: #254061;
    color: #fff
}

#banner h1{
    text-align: center;
    padding: 60px 0;
    font-size: 80px;
}
/*Banner ends here*/

#content_section .content{
    background-color: #fff;
    padding: 20px;
    min-height: 400px;
}

.row .item{
    text-align: center;
}

.row .item h4{
    margin-bottom: 10px;
    font-size: 18px;
}

.row .item p{
    margin-bottom: 10px;
}

.button{
    background-color: darkorange;
    color: #fff;
    padding: 12px 32px;
    text-decoration: none;
    display: inline-block;
    border-radius: 15px;
    font-size: 16px;
}

.video-content{
    margin-top: 50px;
    text-align: center;
}

#footer{
    background-color: #376092;
    padding-top: 20px;
    padding-bottom: 20;
    color: #fff;
}